h1 {
    color: black;
    text-align: center;

}

h1 { 
    font-family: "Calibri";
}

#content {
    font-family: "Calibri";
}

li {
    font-size: 110%;
    text-align: justify;
}

body {
    text-align: center;
    margin: 0;
}

* { 
    box-sizing: border-box;
}
header { 
    height: 100px;
    background: whitesmoke;
    width: 100%;
    z-index: 10;
    position: sticky;
    top:0;
    margin: 0;
    padding: 0;
    border: 0;
}

#banner{
    width: 100%;
    height: 50%;
    position: middle;
    top: 100px;
    background: url(banner.jpg);
    background-size: cover;
}

#content {
    width: 100%;
    position: relative;
    top: 10px;
    background: whitesmoke;
    height: 1500px;
}

h2 {
    font-family: "Trebuchet MS";
    /*font voor HZ: blabla*/
}

#banner {
    color: whitesmoke;
    font-size: 300%;
    position: middle;
}

#content {
    color: black;
    position: center;
}

#toptext { 
    float: left;
    position: absolute;
    left: 100px;
}

#text1 {
    position: absolute;
    top: 3%;
    left: 7%;
}

#text2 { 
    position: absolute;
    top: 23%;
    left: 7%;
}

#title1 { 
    position: absolute;
    bottom: 96%;
    left: 35%;
}
#title2 {
    position: absolute;
    bottom: 1150px;
    left: 30%;
}

#banner {
    -webkit-box-shadow: 6px 10px 10px rgba(200, 100, 100, 0.49);
    -moz-box-shadow:    6px 10px 10px rgba(200, 100, 100, 0.49);
    box-shadow:         6px 6px 5px rgba(200, 100, 100, 0.49);
    Position: sticky;
    }

#PersoonlijkeInto {
    float: left;
    position: absolute;
    left: 1200px;
    top: 10px;
}

#HomePage {
    float: left;
    position: absolute;
    left: 1050px;
    top: 10px;
}

